@using ApolloDb
@model KandidatenModel
@{
    ViewBag.Title = "Verwaltung Kandidaten";
}

<script type="text/javascript">

    var rowToChange;
    var selectedKandidaten = new Array();

    $(function () {
        $('a').tooltip({ placement: "right" });

        $(".datenSatzLoeschen").click(function () {
            rowToChange = $(this).closest(".k-row");

            $("#Datensatz_loeschen").attr("data-kandidatId", rowToChange.attr("data-kandidatId"));
            $("#kandidatNameToDelete").html(rowToChange.attr("data-kandidatName"));

            $('#Datensatz_loeschen').modal();
        });

        $("#deleteKandidat").click(function () {
            $.ajax({
                type: 'POST',
                url: "/Admin/KandidatLoeschen/" + $("#Datensatz_loeschen").attr("data-kandidatId"),
                cache: false,
                success: function (result) {
                    $('#Datensatz_loeschen').modal('hide');
                    rowToChange.hide(200);
                }
            });
            return false;
        });

        $(".jetztAusschliessen").click(function () {
            rowToChange = $(this).closest(".k-row");
            $("#Kandidat_ausschliessen").attr("data-kandidatId", rowToChange.attr("data-kandidatId"));
            $("#kandidatNameAusschliessen").html(rowToChange.attr("data-kandidatName"));

            $('#Kandidat_ausschliessen').modal();
        });

        $("#btnJetztAusschliessen").click(function() {
            $.ajax({
                type: 'POST',
                url: "/Admin/KandidatAusschliessen/" + $("#Kandidat_ausschliessen").attr("data-kandidatId"),
                cache: false,
                success: function (result) {
                    $('#Kandidat_ausschliessen').modal('hide');
                    var status = rowToChange.find("td.tdStatus").find("b.status");
                    status.html("Ausgeschlossen");
                    status.animate({ backgroundColor: 'red' }, 600);
                    status.animate({ backgroundColor: 'transparent' }, 200);
                }
            });

            return false;
        });
        
        $(".jetztZulassen").click(function () {
            rowToChange = $(this).closest(".k-row");
            $("#Kandidat_zulassen").attr("data-kandidatId", rowToChange.attr("data-kandidatId"));
            $("#kandidatNameZulassen").html(rowToChange.attr("data-kandidatName"));
            
            $('#Kandidat_zulassen').modal();
        });

        $("#btnJetztZulassen").click(function () {
            $.ajax({
                type: 'POST',
                url: "/Admin/KandidatZulassen/" + $("#Kandidat_zulassen").attr("data-kandidatId"),
                cache: false,
                success: function (result) {
                    $('#Kandidat_zulassen').modal('hide');
                    var status = rowToChange.find("td.tdStatus").find("b.status");
                    status.html("Zugelassen");
                    status.animate({ backgroundColor: '#ADFF2F' }, 600);
                    status.animate({ backgroundColor: 'transparent' }, 200);
                }
            });
            return false;
        });
        
        $(".jetztZurAuswahl1").click(function () {
            rowToChange = $(this).closest(".k-row");
            statusWechsel("auswahl1", "Auswahl 1 best.", rowToChange.attr("data-kandidatId"));
            return false;
        });
        
        $(".jetztZurAuswahl2").click(function () {
            rowToChange = $(this).closest(".k-row");
            statusWechsel("auswahl2", "Auswahl 2 best.", rowToChange.attr("data-kandidatId"));
            return false;
        });
        
        $(".jetztZurReserve").click(function () {
            rowToChange = $(this).closest(".k-row");
            statusWechsel("reserve", "Reserve", rowToChange.attr("data-kandidatId"));
            return false;
        });
        
        function statusWechsel(newStatus, newStatusdisplayName, kandidatId) {
            $.ajax({
                type: 'POST',
                url: "/Admin/KandidatStatuswechsel/" + newStatus + "/" + kandidatId,
                cache: false,
                success: function (result) {
                    var status = rowToChange.find("td.tdStatus").find("b.status");
                    status.html(newStatusdisplayName);
                    status.animate({ backgroundColor: '#ADFF2F' }, 600);
                    status.animate({ backgroundColor: 'transparent' }, 200);
                }
            });
            return false;
        }

        
        $(".ckbCheck,#ddlUnis").change(function () {
            $("#btnSubmit").click();
        });

        $(".ckbSelectKandidat").change(function () {

            var kandidatId = $(this).closest(".k-row").attr("data-kandidatId");
            if ($(this).is(':checked')) {
                selectedKandidaten.push(kandidatId);
            }else{
                selectedKandidaten = jQuery.grep(selectedKandidaten, function (value) {
                    return value != kandidatId;
                });
            }

            $("#countAusgewaehlte").html(selectedKandidaten.length);
        });

        $("#alleAuswaehlen").click(function () {
            $(".ckbSelectKandidat").attr("checked", true);
            $(".ckbSelectKandidat").trigger("change");
        });
        
        $("#keinenAuswaehlen").click(function () {
            $(".ckbSelectKandidat").attr("checked", false);
            $(".ckbSelectKandidat").trigger("change");
        });


        $("#aKandidatenZulassen").click(function () {
            ExecuteCommand("kandidatenZulassen");
        });

        $("#aKandidatenAusschliessen").click(function () {
            ExecuteCommand("kandidatenAusschliessen");
        });
        
        $("#aKandidatenLoeschen").click(function () {
            $("#kandidatToDeleteCount").html(selectedKandidaten.length);
            $('#Datensaetze_loeschen').modal();
        });

        $("#deleteKandidaten").click(function () {
            ExecuteCommand("kandidatenLoeschen");
        });
        
        $("#aKandidatenExportieren").click(function () {
            $("#form").attr("target", "_blank");
            ExecuteCommand("kandidatenExportieren");
            $("#form").attr("target", "");
        });
        
        $("#aKandidatenEmailsExportieren").click(function () {
            $("#form").attr("target", "_blank");
            ExecuteCommand("kandidatenEmailsExportieren");
            $("#form").attr("target", "");
        });
    });
    
    function ExecuteCommand(commandName) {
        $("#hddCmdName").val(commandName);
        $("#hddCmdParams").val(selectedKandidaten);
        $("#form").submit();
    }
    
</script>

<style>
    .tooltip-inner { text-align: left; }
    .filterCheckbox { line-height: 10px; min-height: 10px; padding-top: 0px;font-size: 10px;position: relative; }
    .filterCheckbox input[type="radio"], input[type="checkbox"]{ margin-top: 0px;}

    .tdStatus p{ margin-top: 0px;line-height: 15px;}

    .k-row{/*used as jquery selector*/} 
    .jetztAusschliessen{/*used as jquery selector*/}
    .jetztZulassen{/*used as jquery selector*/}
    .status{/*used as jquery selector*/}
    .tdStatus{/*used as jquery selector*/}
    .ckbCheck{/*used as jquery selector*/}
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
{
    
    @Html.HiddenFor(x => x.CommandName, new { id = "hddCmdName" })
    @Html.HiddenFor(x => x.CommandParams, new { id = "hddCmdParams" })

    <div style="padding-bottom:10px;">				
        <div>		
            <div style="margin-bottom: 5px; float:left; margin-left: 6px;" >
                <label class="checkbox inline filterCheckbox">
                    @Html.CheckBoxFor(m => m.FilterAusgeschieden, new {@class="ckbCheck"})
                    (@Model.AnzahlAusgeschieden) ausgeschieden 
                </label>
                <br />
                <label class="checkbox inline filterCheckbox">
                    @Html.CheckBoxFor(m => m.FilterRegistriert, new {@class="ckbCheck"})
                    (@Model.AnzahlRegistriert) registriert 
                </label>
                <br />
                <label class="checkbox inline filterCheckbox">
                    @Html.CheckBoxFor(m => m.FilterDatenVollständig, new {@class="ckbCheck"})
                    (@Model.AnzahlDatenVollständig) Daten vollständig
                </label>
                <br />
                <label class="checkbox inline filterCheckbox">
                    @Html.CheckBoxFor(m => m.FilterZugelassen, new {@class="ckbCheck"})
                    (@Model.AnzahlZugelassen) zugelassen
                </label>
                <br />
                <label class="checkbox inline filterCheckbox">
                    @Html.CheckBoxFor(m => m.FilterAuswahlBestanden1, new {@class="ckbCheck"})
                    (@Model.AnzahlAuswahlBestanden1) Auswahl-1 bestanden
                </label>
                <br />
                <label class="checkbox inline filterCheckbox">
                    @Html.CheckBoxFor(m => m.FilterAuswahlBestanden2, new {@class="ckbCheck"})
                    (@Model.AnzahlAuswahlBestanden2) Auswahl-2 bestanden
                </label>
                <br />
                <label class="checkbox inline filterCheckbox">
                    @Html.CheckBoxFor(m => m.FilterReserve, new {@class="ckbCheck"})
                    (@Model.AnzahlReserve) Reserve
                </label>
            </div>

            <div style="float:left; padding-left:30px;">
                <div>
                    <label style="width: 60px; display: inline-block;">Praktikumsjahr:</label> 
                    @Html.DropDownListFor(x => Model.FilterPraktikumsjahrVal, Model.FilterPraktikumsjahrOps, 
                                          new { @style = "margin-bottom: 5px; width: 424px", id = "ddlPraktikumsjahr"  }) 
                </div>
                <div>
                    <label style="width: 60px; display: inline-block;">Unis:</label> 
                    @Html.DropDownListFor(x => Model.FilterUniVal, Model.FilterUniOps, 
                                          new { @style = "margin-bottom: 5px; width: 424px", id = "ddlUnis"  }) 
                </div>
                <div>
                    <label style="width: 60px; display: inline-block;">Freitext:</label>
                    @Html.TextBoxFor(x => x.FilterFreiText, new {style = "margin-bottom: 5px; width: 410px"})
                </div>
                Status zugewiesen zwischen 
                <input type="text" placeholder="dd.mm.yyyy" style="margin-bottom: 5px; width:80px;" disabled="disabled"> und 
                <input type="text" placeholder="dd.mm.yyyy" style="margin-bottom: 5px; width:80px;" disabled="disabled"> 
            </div>
                
            <div style="float: right; padding-top:70px;">
                <button type="submit" class="btn" title="gewählte Filter anwenden" id="btnSubmit"><i class="icon-filter"></i> Filtern</button>
                <a class="btn" title="alle Filter entfernen" href="@Url.Action("ResetFilter", "Admin")"><i class="icon-remove"></i></a>                    
            </div>
        </div>
    </div>

    @Html.Message(Model.Message)   

    <div style="margin-top:5px; margin-bottom: 5px;">

        <div class="btn-group" style="float: left; margin-right: 10px;">
            <a class="btn" href="#"><i class="icon-list-alt"></i></a>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#" id="alleAuswaehlen">alle auswählen</a></li>
                <li><a href="#" id="keinenAuswaehlen">keinen auswählen</a></li>
            </ul>
        </div>

        <div class="btn-group" style="float:left; margin-right:10px;">
            <a class="btn btn-apollogruen" href="#">Aktion: <span id="countAusgewaehlte">0</span> ausgewählte..</a>
            <a class="btn btn-apollogruen dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu" id="ddlCommands">
                <li><a href="#" id="aKandidatenZulassen">..Kandidaten zulassen</a></li>
                <li><a href="#" id="aKandidatenAusschliessen">..Kandidaten ausschließen</a></li>
                <li><a href="#" id="aKandidatenLoeschen">..Datensätze löschen</a></li>
                <li><a href="#" id="aKandidatenExportieren">..Datensätze exportieren</a></li>
                <li><a href="#" id="aKandidatenEmailsExportieren">..Email-Adressen exportieren</a></li>
            </ul>
        </div>

        <div style="float: right;"><p style="margin-right: 10px; margin-top:5px;"><b>Datensätze 1-@Model.Items.Count von @Model.Items.Count</b></p></div>
   
    </div>
    
    <table width="100%" class="tabelle-kandidaten table table-striped">
        <thead style="background-color: #7CB036">
            <tr>
                <th width="4%"></th>
                <th width="20%">Kandidat</th>
                <th width="10%">Stadt</th>
                <th width="15%">Studium</th>
                <th width="20%">Daten und Kontakt</th>
                <th width="15%">Status</th>
                <th width="15%">Infos</th>
            </tr>
        </thead>
    
        <tbody style="background-color: #CFE69E">
        
            @foreach (var item in Model.Items)
            {
                <tr class="k-row" data-kandidatId="@item.Id" data-kandidatName="@item.VollerName">
                    <td class="checkbox">
                        @if (item.Status == KandidatStatus.Registriert){
                            <i class="icon-time icon-white" style="background-color: #FFBB22;"></i>
                        }

                        @if (item.Status == KandidatStatus.AnmeldungVollstaendig){
                            <i class="icon-ok icon-white" style="background-color:#568B3B;"></i>
                        }
                        <input type="checkbox" class="ckbSelectKandidat">
                    </td>
                    <td>
                        <b class="vollerName">@item.VollerName</b><br>
                        <span class="klein">@item.VollerNameKY <br />Geb. @item.Geburtstag </span><br /> 
                        <span class="klein">ID @item.Id</span>
                    </td>

                    <td><b>@item.Hochschule</b></td>
                    <td><b>@item.Studienfach</b>
                        <br />
                        <b>@item.Studienjahr</b><br />
                        @item.Abschluss
                    </td>
                    <td>
                        <p>
                            <span class="klein">
                                <a href="mailto:@item.Email">@item.Email</a><br/>
                                Mob. @item.Mobilnummer
                            </span>
                        </p>
                        <p><a href="/Account/Anmeldung/@item.Id" target="_blank"><i class="icon-list-alt"><span class="aktion"><nobr>zum kompletten Datensatz</nobr></span></i></a></p>
                        <p><a href="#" class="datenSatzLoeschen"><i class="icon-trash"><span class="warnung"><nobr>Datensatz löschen</nobr></span></i></a></p>
                    </td>
                    <td class="tdStatus">
                        <b class="status">@item.StatusText</b>
                        @if(item.Status != KandidatStatus.Zugelassen){
                            <p><a href="#" class="jetztZulassen"><i class="icon-pencil"><span class="warnung"><nobr>jetzt zulassen</nobr></span></i></a></p>
                        }
                        
                        @if(item.Status != KandidatStatus.Ausgeschieden){
                            <p><a href="#" class="jetztAusschliessen"><i class="icon-remove"><span class="warnung"><nobr>jetzt ausschließen</nobr></span></i></a></p>
                        }

                        @if(item.Status != KandidatStatus.Auswahl1){
                            <p><a href="#" class="jetztZurAuswahl1"><i class="icon-pencil"><span class="warnung"><nobr>Auswahl 1 bestanden</nobr></span></i></a></p>
                        }
                        
                        @if(item.Status != KandidatStatus.Auswahl2){
                            <p><a href="#" class="jetztZurAuswahl2"><i class="icon-pencil"><span class="warnung"><nobr>Auswahl 2 bestanden</nobr></span></i></a></p>
                        }
                        
                        @if(item.Status != KandidatStatus.Reserve){
                            <p><a href="#" class="jetztZurReserve"><i class="icon-pencil"><span class="warnung"><nobr>zur Reserve</nobr></span></i></a></p>
                        }
             
                    </td>
                    <td style="line-height: 13px;">
                        <span class="klein">
                            <a href="#" rel="tooltip" title="<b>Historie:</b> <br/> @item.StatusHistorie">Aktueller Status seit: @item.StatusSeit</a>
                        </span><br />
                        @if (item.AltersWarnung){<span class="klein">Warnung: <span class="warnung">Alter</span></span><br />}
                        @if (!String.IsNullOrEmpty(item.KommentarKandidat)){<a href="#" style="color:#568B3B;" title="@item.KommentarKandidat">Kommentar Kandidat</a><br />}
                        @if (!String.IsNullOrEmpty(item.KommentarApollo)){<a href="#" style="color:#568B3B;" title="@item.KommentarApollo">Kommentar Apollo</a>}
                    </td>
                </tr>
            }

            @*        <tr>
                <td class="checkbox">
                    <i class="icon-bell icon-white" style="background-color:#B71C00;"></i>
                    <input type="checkbox">
                </td>
                <td>
                    <b>Ivanov, Ivan</b>
                    <br>
                    <span class="klein">(Иванов, Иван Иванович) <br />
                        Geb. 25.06.1991 (22 Jahre)</span>
                    <br />
                </td>

                <td><b>Stavropol</b></td>
                <td><b>Mechanisierung</b>
                    <br />
                    <b>4. Kurs</b><br />
                    Diplom
                </td>
                <td>
                    <p>
                        <span class="klein">
                            miroschnikova_ansatasiya@mail.ru<br/>
                            Mob. +79876...
                        </span>
                    </p>
                    <p><a href="#" target="_blank"><i class="icon-list-alt"><span class="aktion"><nobr>zum kompletten Datensatz</nobr></span></i></a></p>
                    <p><a href="#Datensatz_loeschen" role="button" data-toggle="modal"><i class="icon-trash"><span class="warnung"><nobr>Datensatz löschen</nobr></span></i></a></p>
                </td>
                <td>
                    <b>2 - <span class="klein">Daten vollständig</span></b>
                    <p><a href="#Kandidat_zulassen" role="button" data-toggle="modal"><i class="icon-ok"><span class="aktion"><nobr>jetzt zulassen</nobr></span></i></a></p>
                    <p><a href="#" target="_blank"><i class="icon-pencil"><span class="warnung"><nobr>Status ändern</nobr></span></i></a></p>
                    <p><a href="#Kandidat_ausschliessen" role="button" data-toggle="modal"><i class="icon-remove"><span class="warnung"><nobr>jetzt ausschließen</nobr></span></i></a></p>
                </td>
                <td style="line-height: 13px;">
                    <span class="klein">Aktueller Status seit: 24.09.12</span>
                 
                    <br /><span class="klein">Warnung: <span class="warnung">Alter</span>
                              <br /><a href="#Kommentar_Kandidat" role="button" data-toggle="modal" style="color:#568B3B;" title="Könnte man hier so den Kommentar anzeigen?">Kommentar Kandidat</a>
                              <br /><a href="#Kommentar_Apollo" role="button" data-toggle="modal" style="color:#568B3B;">Kommentar Apollo</a>
                          </span>
                </td>
            </tr>
             <tr>
                <td class="checkbox">
                    <i class="icon-time icon-white" style="background-color:#FFBB22;"></i>

                    <input type="checkbox">
                </td>
                <td>
                    <b></b>
                    <br>
                    <span class="klein">Иванов, Иван Иванович <br />
                        </span>
                    <br />
                </td>

                <td><b></b></td>
                <td><b></b>
                    <br />
                    <b></b><br />
                
                </td>
                <td>
                    <p>
                        <span class="klein">
                            vanya91@rambler.ru<br/>
                        
                        </span>
                    </p>
                    <p><a href="#" target="_blank"><i class="icon-list-alt"><span class="aktion"><nobr>zum kompletten Datensatz</nobr></span></i></a></p>
                    <p><a href="#" target="_blank"><i class="icon-trash"><span class="warnung"><nobr>Datensatz löschen</nobr></span></i></a></p>
                </td>
                <td>
                    <b>1 - <span class="klein">registriert</span></b>
                    <p><a href="#" target="_blank"><i class="icon-ok"><span class="aktion"><nobr>jetzt zulassen</nobr></span></i></a></p>
                    <p><a href="#" target="_blank"><i class="icon-pencil"><span class="warnung"><nobr>Status ändern</nobr></span></i></a></p>
                    <p><a href="#" target="_blank"><i class="icon-remove"><span class="warnung"><nobr>jetzt ausschließen</nobr></span></i></a></p>
                </td>
                <td style="line-height: 13px;">
                    <span class="klein">Aktueller Status seit: 24.09.12</span>
                 
                    <br /><span class="klein">Warnung: <span class="warnung">Alter</span>
                              <br /><a href="#" style="color:#568B3B;" title="Könnte man hier so den Kommentar anzeigen?">Kommentar Kandidat</a>
                              <br /><a href="#" style="color:#568B3B;">Kommentar Apollo</a>
                          </span>
                </td>
            </tr>
             <tr>
                <td class="checkbox">
                    <i class="icon-remove icon-white" style="background-color:black;"></i>
                    <input type="checkbox">
                </td>
                <td>
                    <b>Ivanov, Ivan</b>
                    <br>
                    <span class="klein">(Иванов, Иван Иванович) <br />
                        Geb. 25.06.1991 (22 Jahre)</span>
                    <br />
                </td>

                <td><b>Stavropol</b></td>
                <td><b>Mechanisierung</b>
                    <br />
                    <b>4. Kurs</b><br />
                    Diplom
                </td>
                <td>
                    <p>
                        <span class="klein">
                            miroschnikova_ansatasiya@mail.ru<br/>
                            Mob. +79876...
                        </span>
                    </p>
                    <p><a href="#" target="_blank"><i class="icon-list-alt"><span class="aktion"><nobr>zum kompletten Datensatz</nobr></span></i></a></p>
                    <p><a href="#" target="_blank"><i class="icon-trash"><span class="warnung"><nobr>Datensatz löschen</nobr></span></i></a></p>
                </td>
                <td>
                    <b>0 - <span class="klein">ausgeschlossen</span></b>
                    <p><a href="#" target="_blank"><i class="icon-ok"><span class="aktion"><nobr>jetzt zulassen</nobr></span></i></a></p>
                    <p><a href="#" target="_blank"><i class="icon-pencil"><span class="warnung"><nobr>Status ändern</nobr></span></i></a></p>
                    <p><a href="#" target="_blank"><i class="icon-remove"><span class="warnung"><nobr>jetzt ausschließen</nobr></span></i></a></p>
                </td>
                <td style="line-height: 13px;">
                    <span class="klein">Aktueller Status seit: 24.09.12</span>
                 
                    <br /><span class="klein">Warnung: <span class="warnung">Alter</span>
                              <br /><a href="#" style="color:#568B3B;" title="Könnte man hier so den Kommentar anzeigen?">Kommentar Kandidat</a>
                              <br /><a href="#" style="color:#568B3B;">Kommentar Apollo</a>
                          </span>
                </td>
            </tr>*@
        </tbody>
    </table>

    <div>
        <i class="icon-ok icon-white" style="background-color:#568B3B;"></i> Kandidat zugelassen<br />
        <i class="icon-time icon-white" style="background-color:#FFBB22;"></i> Aktion Kandidat abwarten<br />
        <i class="icon-bell icon-white" style="background-color:#B71C00;"></i> Aktion Apollo erforderlich<br />
        <i class="icon-remove icon-white" style="background-color:black;"></i> Kandidat ausgeschieden<br>
    </div>

    <!--Modals-->
    <div class="modal hide fade" id="Datensatz_loeschen" tabindex="-1" role="dialog" data-kandidatId="-1"
         aria-labelledby="Datensatz_loeschenLabel" aria-hidden="false" style="overflow:hidden;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="Datensatz_loeschenLabel">Datensatz löschen</h3>
        </div>
        <div class="modal-body" style="max-height:200px;overflow:hidden;">
            <p>Möchten Sie wirklich den Datensatz für Kandidat "<b><span id="kandidatNameToDelete"></span></b>" unwiderruflich löschen?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Abbrechen</button>
            <button class="btn btn-danger btn-primary" id="deleteKandidat">Ja, löschen</button>
        </div>
    </div>
    
    <div class="modal hide fade" id="Datensaetze_loeschen" tabindex="-1" role="dialog" data-kandidatId="-1"
        aria-labelledby="Datensatz_loeschenLabel" aria-hidden="false" style="overflow:hidden;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="Datensaetze_loeschenLabel">Datensatz löschen</h3>
        </div>
        <div class="modal-body" style="max-height:200px;overflow:hidden;">
            <p>Möchten Sie wirklich <b><span id="kandidatToDeleteCount"></span></b> Kandidaten unwiderruflich löschen?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Abbrechen</button>
            <button class="btn btn-danger btn-primary" id="deleteKandidaten">Ja, löschen</button>
        </div>
    </div>    

    <div class="modal hide" id="Kandidat_zulassen" tabindex="-1" role="dialog" data-kandidatId="-1"
        aria-labelledby="Kandidat_zulassenLabel" aria-hidden="false" style="overflow:hidden;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="Kandidat_zulassenLabel">Kandidat zulassen</h3>
        </div>
        <div class="modal-body" style="max-height:200px;overflow:hidden;">
            <p>Möchten Sie den Kandidat "<b><span id="kandidatNameZulassen"></span></b>" jetzt zulassen?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Abbrechen</button>
            <button class="btn btn-apollogruen btn-primary" id="btnJetztZulassen">Ja, zulassen</button>
        </div>
    </div>

    <div class="modal hide" id="Kandidat_ausschliessen" tabindex="-1" role="dialog" data-kandidatId="-1"
         aria-labelledby="Kandidat_ausschliessenLabel" aria-hidden="false" style="overflow:hidden;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="Kandidat_ausschliessenLabel">Kandidat ausschließen</h3>
        </div>
        <div class="modal-body" style="max-height:200px;overflow:hidden;">
            <p>Möchten Sie den Kandidat "<b><span id="kandidatNameAusschliessen"></span></b>" wirklich ausschließen?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Abbrechen</button>
            <button class="btn btn-danger btn-primary" id="btnJetztAusschliessen">Ja, ausschließen</button>
        </div>
    </div>

    <div class="modal hide fade" id="Kommentar_Kandidat" tabindex="-1" role="dialog" aria-labelledby="Kommentar_KandidatLabel" aria-hidden="false" style="overflow:hidden;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="Kommentar_KandidatLabel">Kommentar Kandidat</h3>
        </div>
        <div class="modal-body" style="max-height:200px;overflow:auto;">
            <p>Kommentar</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Schließen</button>
        </div>
    </div>

    <div class="modal hide fade" id="Kommentar_Apollo" tabindex="-1" role="dialog" aria-labelledby="Kommentar_ApolloLabel" aria-hidden="false" style="overflow:hidden;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="Kommentar_ApolloLabel">Kommentar Apollo</h3>
        </div>
        <div class="modal-body" style="max-height:200px;overflow:auto;">
            <p>Kommentar</p>
        </div>
        <div class="modal-footer">
            <a class="btn" href='@Url.Action("Anmeldung", "Account")'>Kommentar bearbeiten</a>
            <button class="btn btn-apollogruen" data-dismiss="modal" aria-hidden="true">Schließen</button>
        </div>
    </div>    
}