@using ApolloDb
@model AnmeldungModel
@{
    ViewBag.Title = "Anmeldung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    
    $(function () {
        $("#form").submit(function () {

            if (!$(this).valid()) {
                $("#invalidInputMsg").show(400);
            }
            else {
                $("#invalidInputMsg").hide(300);
            }
        });
    });
    
    jQuery.validator.addMethod("checkrequired", function (value, element, param) {
        return element.checked;
    });
    jQuery.validator.unobtrusive.adapters.addBool("checkrequired");

</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
{   
    @Html.Message(Model.Message)
    
    <table class="textlinksrechts">
        <tr class="erstezeile alleinestehend">
            <td class="links"><h2>Anmeldung zum Auswahlverfahren für das Praktikum Sommer 2013</h2></td>
            <td class="rechts"><h2>Заявление на участие в отборе летней практики APOLLO 2013</h2></td>
        </tr>
    </table>
    <table class="textlinksrechts">
        <tr>
            <td class="links">
                <p>
                    Bitte füllen Sie das untenstehende Formular aus. 
                    <b>Beachten Sie dabei die jeweils geforderte Eingabesprache.</b><br>
                </p>
                <p>
                    Hinweis: Bitte halten Sie zum Ausfüllen dieses Formulars die Nummer Ihres Inlandspasses bereit.
                    Sicherheitshinweis
                </p>
            </td>
            <td class="rechts">
                <p>
                    Пожалуйста заполните ниже расположенный формуляр. <b>
                    Обратите внимание в каждом поле, какой язык требуется для заполнения.</b><br>
                    Замечание: для заполнения формуляра 
                    необходим номер вашего российского пасспорта.
                </p>
            </td>
        </tr>
    </table>
    
    <div class="alert alert-error fade in hide" id="invalidInputMsg">
        <a class="close" data-dismiss="alert" href="#">×</a>
        Bitte die Eingaben vervollständigen/korrigieren. | Пожалуйста дополните/измените данные.
    </div>

    <table class="textlinksrechts">
        <tr class="erstezeile alleinestehend">
            <td class="links"><h3>Persönliche Angaben</h3></td>
            <td class="rechts"><h3>Личные данные</h3></td>
        </tr>
    </table>

    <table class="textlinksrechts">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Familienname | Фамилия:</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.Familienname, new {@placeholder = "латинскими буквами", @class = "formular"})
                    <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Familienname)</span>
                     <span class="help-inline alphabet">латинскими буквами</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Vorname | Имя:</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.Vorname, new {@placeholder = "латинскими буквами", @class = "formular"})
                    <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Vorname)</span>
                    <span class="help-inline alphabet">латинскими буквами</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Geburtsdatum | Дата рождения:</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.Geburtsdatum, new {@placeholder = "", @style="width:100px;"})
                    <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Geburtsdatum)</span>
                    <span class="help-block">Format: dd-mm-yyyy | Формат: дд-мм-гггг</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Nummer des Inlandspasses | Номер российского пасспорта</label>
                <div class="controls zweisprachig">
                    @Html.TextBoxFor(x => x.Inlandspass, new {@class = "formular"})
                    <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Inlandspass)</span>
                    <span class="help-block">Beispiel: 12 34 567890 | Пример: 12 34 567890</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Mobilfunknummer (freiwillige Angabe)| Номер мобильного телефона (по желанию):</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.Mobilfunknummer, new {@class = "formular"})
                </div>
            </div>
        </div>
    </table>
    <table class="textlinksrechts">
        <tr class="erstezeile alleinestehend">
            <td class="links">
                <h3>Hochschulstudium</h3>
            </td>
            <td class="rechts">
                <h3>Учеба</h3>
            </td>
        </tr>
    </table>

    <table class="textlinksrechts">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Hochschule | ВУЗ:</label>
                <div class="controls">
                    @Html.DropDownListFor(x => Model.UniVal, Model.UniOps, new { @style = "width: 300px" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Fakultät | Факультет:</label>
                <div class="controls zweisprachig">
                    @Html.TextBoxFor(x => x.Fakultaet, new {@class = "formular", @placeholder = "по-русски"})
                    <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Fakultaet)</span>
                    <span class="help-inline alphabet">по-русски</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Spezialisierung | Специальность:</label>
                <div class="controls zweisprachig">
                    @Html.TextBoxFor(x => x.Studienfach, new {@class = "formular", @placeholder = "по-русски"})
                    <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Studienfach)</span>
                    <span class="help-inline alphabet">по-русски</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Welche der folgenden Bezeichnungen beschreibt Ihr Studienfach am besten? | Какое из предложенных обозначений подходит больше всего для вашей специальности?</label>
                <div class="controls mehrzeilig">
                    @Html.DropDownListFor(x => Model.StudienfachVal, Model.StudienfachOps, new { @style = "width: 300px" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Am Ende welchen Studienjahrs befinden Sie sich zum Zeitpunkt des angestrebten Praktikums? | На каком курсе вы учитесь?:</label>
                <div class="controls mehrzeilig">
                    @Html.DropDownListFor(x => Model.StudienJahrVal, Model.StudienJahrOps)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Handelt es sich um einen verkürzten Studiengang (z.B. nach Technikum)? | Вы учитесь по сокращенной форме (например после техникума)?</label>
                <div class="controls">
                    <label class="radio inline">
                        @Html.RadioButtonFor(m => m.VerkürzterStudiengang, true)
                        Ja | Да
                    </label>
                    <label class="radio inline">
                        @Html.RadioButtonFor(m => m.VerkürzterStudiengang, false)
                        Nein | Нет</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Welchen Abschluss streben Sie derzeit an? | Какой академический титул вы получите по окончанию обучения?:</label>
                <div class="controls">
                    @Html.DropDownListFor(x => Model.AngestrebterAbschlussVal, Model.AngestrebterAbschlussOps)
                </div>
            </div>
        </div>
    </table>
    <table class="textlinksrechts">
        <tr class="erstezeile alleinestehend">
            <td class="links">
                <h3>Deutschkenntnisse</h3>
            </td>
            <td class="rechts">
                <h3>Знания немецкого языка</h3>
            </td>
        </tr>
    </table>
    <table class="textlinksrechts">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Verfügen Sie bereits über Deutschkenntnisse? | Обладаете ли вы знаниями немецкого языка?:</label>
                <div class="controls">
                    <label class="radio inline">
                        @Html.RadioButtonFor(m => m.Deutschkentnisse, true)
                        Ja | Да</label>
                    <label class="radio inline">
                        @Html.RadioButtonFor(m => Model.Deutschkentnisse, false)
                        Nein | Нет</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Wenn ja: wo haben Sie diese Kenntnisse erworben? (mehrere Antworten möglich) | Если да, то где вы учили язык? (возможно несколько ответов)</label>
                <div class="controls">
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.DeutschkentnisseDurchSchule)
                        In der Schule | В школе
                    </label>
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.DeutschkentnisseDurchUni)
                        In der Hochschule | В ВУЗе
                    </label>
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.DeutschkentnisseDurchSonstige)
                        Sonstiges | Другое
                    </label>
                </div>
            </div>
        </div>
    </table>
    <table class="textlinksrechts">
        <tr class="erstezeile alleinestehend">
            <td class="links">
                <h3>Sonstiges</h3>
            </td>
            <td class="rechts">
                <h3>Другое</h3>
            </td>
        </tr>
    </table>
    <table class="textlinksrechts">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Haben Sie sich bereits im Rahmen eines Austauschprogramms in einem deutschsprachigen Land aufgehalten? | Принимали ли вы участие в программах обмена практикантами в немецкоговорящих странах?:</label>
                <div class="controls">
                    <label class="radio inline" style="white-space: nowrap">
                        @Html.RadioButtonFor(m => m.BereitsAufenthalt, true)
                        Ja | Да
                    </label>
                    <label class="radio inline" style="white-space: nowrap">
                        @Html.RadioButtonFor(m => m.BereitsAufenthalt, false)
                        Nein | Нет</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Wenn ja, mit welchem Programm? | Если да, то в какой программе?:</label>
                <div class="controls zweisprachig">
                    @Html.TextBoxFor(x => x.BereitsAufenthaltProgramm, new {@class = "formular", @placeholder = "по-русски"})
                    <span class="help-inline alphabet">по-русски</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Kommentare (optional)| Замечания, если есть (по всем разделам):</label>
                <div class="controls">
                    @Html.TextAreaFor(x => x.Kommentar, 
                                             new{
                                                    @class = "input-xlarge", 
                                                    @placeholder = "по-русски", 
                                                    @style = "height: 180px; height:100px;"
                                                })
                    <span class="help-inline alphabet">по-русски</span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.AcceptTerms, new {@class = "checkbox mehrzeilig"})
                        <span class="errorAnotation">@Html.ValidationMessageFor(x => x.AcceptTerms)</span>
                        Hiermit bewerbe ich mich für das Auswahlverfahren der APOLLO e.V. 
                        Ich versichere, dass ich alle Angaben wahrheitsgemäß gemacht habe.
                        <br>Я подаю заявление на участие в собеседовании программы APOLLO e.V. Я 
                        подтверждаю что все данные заполненны мною честно и добросовестно.
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="form-actions">
                    <button type="submit" class="btn btn-apollogruen">Eingaben absenden | Отправить</button>
                    <br /><a class="btn" href='@Url.Action("Dashboard","Account")'>abbrechen (ohne speichern) | сбросить (без сохранения)</a>
                </div>
            </div>
        </div>
    </table>
}