@using ApolloDb
@model AnmeldungModel
@{
    ViewBag.Title = "Anmeldung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    
    $(function () {
        $("#form").submit(function () {

            if (!$(this).valid()) {
                $("#invalidInputMsg").show(400);
            }
            else {
                $("#invalidInputMsg").hide(300);
            }
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
    
                reader.onload = function(e) {
                    $('#imagePreview').attr('src', e.target.result);
                }
    
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#imageInput").change(function() {
            readURL(this);
        });
    });
    
    jQuery.validator.addMethod("checkrequired", function (value, element, param) {
        return element.checked;
    });
    jQuery.validator.unobtrusive.adapters.addBool("checkrequired");

</script>

@using (Html.BeginForm("Anmeldung", "Account", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
{
    @Html.Message(Model.Message)
    
    <table class="textlinksrechts">
        <tr class="erstezeile alleinestehend">
            <td class="links"><h2>Anmeldung zum Auswahlverfahren für das Praktikum Sommer 2021</h2></td>
            <td class="rechts"><h2>Заявление на участие в отборе летней практики APOLLO 2021</h2></td>
        </tr>
    </table>
    <table class="textlinksrechts">
        <tr>
            <td class="links">
                <p>
                    Bitte füllen Sie das untenstehende Formular aus. 
                    <b>Beachten Sie dabei die jeweils geforderte Eingabesprache.</b><br>
                </p>
                <p>
                    Hinweis: Bitte halten Sie zum Ausfüllen dieses Formulars die Nummer Ihres Inlandspasses bereit.
                    Sicherheitshinweis
                </p>
            </td>
            <td class="rechts">
                <p>
                    Пожалуйста заполните ниже расположенный формуляр. <b>
                    Обратите внимание в каждом поле, какой язык требуется для заполнения.</b><br>
                    Замечание: для заполнения формуляра 
                    необходим номер вашего российского пасспорта.
                </p>
            </td>
        </tr>
    </table>
    
    <div class="alert alert-error fade in hide" id="invalidInputMsg">
        <a class="close" data-dismiss="alert" href="#">×</a>
        Bitte die Eingaben vervollständigen/korrigieren. | Пожалуйста дополните/измените данные.
    </div>

    <table class="textlinksrechts">
        <tr class="erstezeile alleinestehend">
            <td class="links"><h3>Persönliche Angaben</h3></td>
            <td class="rechts"><h3>Личные данные</h3></td>
        </tr>
    </table>

    <table class="textlinksrechts">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Familienname | Фамилия:</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.Familienname, new { @placeholder = "латинскими буквами", @class = "formular" })
                    <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Familienname)</span>
                    <span class="help-inline alphabet">Напр. «Ivanov»</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Vorname | Имя:</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.Vorname, new { @placeholder = "латинскими буквами", @class = "formular" })
                    <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Vorname)</span>
                    <span class="help-inline alphabet">Напр. «Ivan»</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Geburtsdatum | Дата рождения:</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.Geburtsdatum, new { @placeholder = "дд-мм-гггг", @style = "width:100px;" })
                    <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Geburtsdatum)</span>
                    <span class="help-block">Format: dd-mm-yyyy | Формат: дд-мм-гггг</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Nummer des Inlandspasses | Номер российского пасспорта</label>
                <div class="controls zweisprachig">
                    @Html.TextBoxFor(x => x.Inlandspass, new { @class = "formular" })
                    <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Inlandspass)</span>
                    <span class="help-block">Beispiel: 12 34 567890 | Пример: 12 34 567890</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Nummer Reisepass (falls vorhanden) | Серия и номер заграничного паспорта</label>
                <div class="controls zweisprachig">
                    @Html.TextBoxFor(x => x.Reisepass, new { @class = "formular" })
                    <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Reisepass)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Mobilfunknummer (freiwillige Angabe)| Номер мобильного телефона (по желанию):</label>
                <div class="controls mehrzeilig">
                    @Html.TextBoxFor(x => x.Mobilfunknummer, new { @class = "formular" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Kontakt im Notfall (Ansprechpartner, Adresse, Telefonnummer, Email)| Контактные данные для связи в экстренных случаях (кто это, адрес, номер телефона, электронная почта):</label>
                <div class="controls">
                    @Html.TextAreaFor(x => x.Notfallkontakt,
                        new
                        {
                            @class = "input-xlarge",
                            @placeholder = "по-русски",
                            @style = "height: 180px; height:100px;"
                        })
                    <span class="help-inline alphabet">по-русски</span>
                    <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Notfallkontakt)</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Foto| Фото</label>
                <div class="controls">
                    <input type='file' id="imageInput" name="Foto" />
                    <img id="imagePreview" src="@Model.ImagePath" alt="" width="305" />
                </div>
            </div>
        </div>
    </table>
    
    if(@Model.IsAdmin)
    {
    <table class="textlinksrechts admin">
        <h3 class="admin" style="text-align:center;">Admin</h3>
    </table>
        <table class="textlinksrechts admin">
            <div class="form-horizontal admin">
                @*<div class="control-group">
                    <label class="control-label">ID:</label>
                    <div class="controls">
                        <p class="nurtext">Wert</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Alter:</label>
                    <div class="controls">
                        <p class="nurtext">Wert</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Status:</label>
                    <div class="controls">
                        <select>
                            <option>0 - ausgeschlossen</option>
                            <option>1 - registriert</option>
                            <option>2 - angemeldet</option>
                            <option>3 - zugelassen</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Registriert am:</label>
                    <div class="controls">
                        <p class="nurtext">Wert</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Anmeldung am:</label>
                    <div class="controls">
                        <p class="nurtext">Wert</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Zugelassen am:</label>
                    <div class="controls">
                        <p class="nurtext">Wert</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Warnung:</label>
                    <div class="controls">
                        <p class="nurtext">wenn Studienfach "sonstige" > "Studienfach", 
                            wenn bereits Aufenthalt > "früherer Aufenthalt", 
                            wenn Alter kleiner 18/größer 24 > "Alter", 
                            wenn Abschluss "sonstige">"Abschluss", 
                            wenn Studienjahr "sonstige" > "Studienjahr"</p>
                    </div>
                </div>*@
                <div class="control-group" style="margin-bottom:0px;">
                    <label class="control-label">Kommentar Apollo:</label>
                    <div class="controls">
                        @Html.TextAreaFor(x => x.KommentarApollo,
                                          new
                                              {
                                                  @class = "input-xlarge",
                                                  @style = "height: 180px; height:100px;"
                                              })
                    </div>
                </div>
            </div>
        </table>
    
        <table class="textlinksrechts">
            <div class="form-horizontal">
                <div class="control-group">
                    <div class="form-actions">
                        <button type="submit" class="btn btn-apollogruen" style="width:200px;">Ändern</button><br />
                        <a class="btn" href='@Url.Action("Index", "Admin")'>abbrechen (ohne speichern)</a>
                    </div>
                </div>
            </div>
        </table>
    }
    
    <table class="textlinksrechts">
        <tr class="erstezeile alleinestehend">
            <td class="links">
                <h3>Hochschulstudium</h3>
            </td>
            <td class="rechts">
                <h3>Учеба</h3>
            </td>
        </tr>
    </table>

    <table class="textlinksrechts">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Hochschule | ВУЗ:</label>
                <div class="controls">
                    @Html.DropDownListFor(x => Model.UniVal, Model.UniOps, new { @style = "width: 304px" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Fakultät | Факультет:</label>
                <div class="controls zweisprachig">
                    @Html.TextBoxFor(x => x.Fakultaet, new { @class = "formular", @placeholder = "по-русски" })
                    <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Fakultaet)</span>
                    <span class="help-inline alphabet">по-русски</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Spezialisierung | Специальность:</label>
                <div class="controls zweisprachig">
                    @Html.TextBoxFor(x => x.Studienfach, new { @class = "formular", @placeholder = "по-русски" })
                    <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Studienfach)</span>
                    <span class="help-inline alphabet">по-русски</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Welche der folgenden Bezeichnungen beschreibt Ihr Studienfach am besten? | Какое из предложенных обозначений подходит больше всего для вашей специальности?</label>
                <div class="controls mehrzeilig">
                    @Html.DropDownListFor(x => Model.StudienfachVal, Model.StudienfachOps, new { @style = "width: 304px" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Am Ende welchen Studienjahrs befinden Sie sich zum Zeitpunkt des angestrebten Praktikums? | На каком курсе вы учитесь?:</label>
                <div class="controls mehrzeilig">
                    @Html.DropDownListFor(x => Model.StudienJahrVal, Model.StudienJahrOps, new { @style = "width: 304px" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Handelt es sich um einen verkürzten Studiengang (z.B. nach Technikum)? | Вы учитесь по сокращенной форме (например после техникума)?</label>
                <div class="controls">
                    <label class="radio inline">
                        @Html.RadioButtonFor(m => m.VerkürzterStudiengang, true)
                        Ja | Да
                    </label>
                    <label class="radio inline">
                        @Html.RadioButtonFor(m => m.VerkürzterStudiengang, false)
                        Nein | Нет</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Welchen Abschluss streben Sie derzeit an? | Какой академический титул вы получите по окончанию обучения?:</label>
                <div class="controls mehrzeilig">
                    @Html.DropDownListFor(x => Model.AngestrebterAbschlussVal, Model.AngestrebterAbschlussOps, new { @style = "width: 304px" })
                </div>
            </div>
        </div>
    </table>
    <table class="textlinksrechts">
        <tr class="erstezeile alleinestehend">
            <td class="links">
                <h3>Deutschkenntnisse</h3>
            </td>
            <td class="rechts">
                <h3>Знания немецкого языка</h3>
            </td>
        </tr>
    </table>
    <table class="textlinksrechts">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Verfügen Sie bereits über Deutschkenntnisse? | Обладаете ли вы знаниями немецкого языка?:</label>
                <div class="controls">
                    <label class="radio inline">
                        @Html.RadioButtonFor(m => m.Deutschkentnisse, true)
                        Ja | Да</label>
                    <label class="radio inline">
                        @Html.RadioButtonFor(m => Model.Deutschkentnisse, false)
                        Nein | Нет</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Wenn ja: wo haben Sie diese Kenntnisse erworben? (mehrere Antworten möglich) | Если да, то где вы учили язык? (возможно несколько ответов)</label>
                <div class="controls">
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.DeutschkentnisseDurchSchule)
                        In der Schule | В школе
                    </label>
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.DeutschkentnisseDurchUni)
                        In der Hochschule | В ВУЗе
                    </label>
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.DeutschkentnisseDurchSonstige)
                        Sonstiges | Другое
                    </label>
                </div>
            </div>
        </div>
    </table>
    <table class="textlinksrechts">
        <tr class="erstezeile alleinestehend">
            <td class="links">
                <h3>Sonstiges</h3>
            </td>
            <td class="rechts">
                <h3>Другое</h3>
            </td>
        </tr>
    </table>
    <table class="textlinksrechts">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Haben Sie sich bereits im Rahmen eines Austauschprogramms in einem deutschsprachigen Land aufgehalten? | Принимали ли вы участие в программах обмена практикантами в немецкоговорящих странах?:</label>
                <div class="controls">
                    <label class="radio inline" style="white-space: nowrap">
                        @Html.RadioButtonFor(m => m.BereitsAufenthalt, true)
                        Ja | Да
                    </label>
                    <label class="radio inline" style="white-space: nowrap">
                        @Html.RadioButtonFor(m => m.BereitsAufenthalt, false)
                        Nein | Нет
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Wenn ja, mit welchem Programm? | Если да, то в какой программе?:</label>
                <div class="controls mehrzeilig">
                    @Html.TextBoxFor(x => x.BereitsAufenthaltProgramm, new { @class = "formular", @placeholder = "по-русски" })
                    <span class="help-inline alphabet">по-русски</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Есть ли у Вас практический опыт работы в сельском хозяйстве (заполните таблицу)?/ Haben Sie praktische Erfahrungen in der Landwirtschaft gesammelt?</label>
                <div class="controls">
                    @Html.TextAreaFor(x => x.ErfahrungenLandwirtschaft,
                        new
                        {
                            @class = "input-xlarge",
                            @placeholder = "по-русски",
                            @style = "height: 180px; height:60px;"
                        })
                    <span class="help-inline alphabet">по-русски</span>
                    <span class="help-block">
                        Praktikumszeitraum / Время практики<br />
                        Betrieb / Хозяйство<br />
                        Arbeitsbereiche / Выполняемая работа
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Проходили ли Вы уже практику в Германии или другой стране? Где и когда?/ Haben Sie schon ein Praktikum in Deutschland oder anderen Staaten absolviert? Wo und Wann?</label>
                <div class="controls">
                    @Html.TextAreaFor(x => x.PraktikumDeutschland,
                        new
                        {
                            @class = "input-xlarge",
                            @placeholder = "по-русски",
                            @style = "height: 180px; height:60px;"
                        })
                    <span class="help-inline alphabet">по-русски</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Есть ли у Вас водительское удостоверение? Если да, то какое и на какой транспорт?/ Haben Sie einen Führerschein, wenn ja welchen?</label>
                <div class="controls">
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.FuehrerscheinPkw)
                        PKW | Машина
                    </label>
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.FuehrerscheinTraktor)
                        Traktor | трактор
                    </label>
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.FuehrerscheinMaehdrescher)
                        Mähdrescher | Комбайн
                    </label>
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.FuehrerscheinSonstige)
                        Sonstige | Другое
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Почему Вы хотите пройти практику в Германии?/ Warum wollen Sie an dem Praktikum in Deutschland teilnehmen?</label>
                <div class="controls">
                    @Html.TextAreaFor(x => x.WarumTeilnehmen,
                        new
                        {
                            @class = "input-xlarge",
                            @placeholder = "по-русски",
                            @style = "height: 180px; height:60px;"
                        })
                    <span class="help-inline alphabet">по-русски</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">В каком хозяйстве и каких областях сельскохозяйственного производства Вы хотели бы работать во время практики?/ In welchem Betriebstyp möchten Sie Ihr Praktikum absolvieren?</label>
                <div class="controls">
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.BetriebsTypMilchviehhaltung)
                        Milchviehhaltung | Производство молока
                    </label>
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.BetriebsTypSchweinemast)
                        Schweinemast | Свиноводство
                    </label>
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.BetriebsTypAckerbau)
                        Ackerbau | Земледелие
                    </label>
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.BetriebsTypGemüsebauObstbau)
                        Gemüsebau, Obstbau | Овощеводство, плодоводство
                    </label>
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.BetriebsTypWeinbau)
                        Weinbau | Виноградарство
                    </label>
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.BetriebsTypImkerei)
                        Imkerei | пчеловодство
                    </label>
                </div>
                <div class="controls mehrzeilig" style="margin-top: 15px;">
                    @Html.TextBoxFor(x => x.BetriebsTypAndere, new { @class = "formular", @placeholder = "Другое" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Ich bin körperlich voll einsatzfähig. / К физическому труду и нагрузкам полностью готов(а). </label>
                <div class="controls">
                    <label class="radio inline" style="white-space: nowrap">
                        @Html.RadioButtonFor(m => m.KoerperlichEinsatzfaehig, true)
                        Ja | Да
                    </label>
                    <label class="radio inline" style="white-space: nowrap">
                        @Html.RadioButtonFor(m => m.KoerperlichEinsatzfaehig, false)
                        Nein | Нет
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Haben sie körperlichen Einschränkungen (chronische Krankheit, Allergie etc.)? / Имеются следующие физические ограничения (например, хронические заболевания, аллергии, проблемы с позвоночником и т.д.)?</label>
                <div class="controls">
                    @Html.TextAreaFor(x => x.KoerperlicheEinschraenkungen,
                        new
                        {
                            @class = "input-xlarge",
                            @placeholder = "по-русски",
                            @style = "height: 180px; height:60px;"
                        })
                    <span class="help-inline alphabet">по-русски</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Rauchen Sie? / Курите ли Вы? </label>
                <div class="controls">
                    <label class="radio inline" style="white-space: nowrap">
                        @Html.RadioButtonFor(m => m.Raucher, true)
                        Ja | Да
                    </label>
                    <label class="radio inline" style="white-space: nowrap">
                        @Html.RadioButtonFor(m => m.Raucher, false)
                        Nein | Нет
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Ich esse nicht? / В пищу я категорически не употребляю?</label>
                <div class="controls">
                    @Html.TextAreaFor(x => x.IchEsseNicht,
                        new
                        {
                            @class = "input-xlarge",
                            @placeholder = "по-русски",
                            @style = "height: 180px; height:60px;"
                        })
                    <span class="help-inline alphabet">по-русски</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Für die Arbeitskleidung: / Мерки для рабочей одежды:</label>
                <div class="controls">
                    @Html.TextAreaFor(x => x.FuerArbeitskleidung,
                        new
                        {
                            @class = "input-xlarge",
                            @placeholder = "Рост / Размер обуви / Размер одежды",
                            @style = "height: 180px; height:60px;"
                        })
                    <span class="help-inline alphabet">по-русски</span>
                    <span class="help-block">
                        Рост / Размер обуви / Размер одежды<br />
                        Größe / Schuhgröße / Konfektionsgröße
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Kommentare (optional)| Замечания, если есть (по всем разделам):</label>
                <div class="controls">
                    @Html.TextAreaFor(x => x.Kommentar,
                                             new
                                             {
                                                 @class = "input-xlarge",
                                                 @placeholder = "по-русски",
                                                 @style = "height: 180px; height:100px;"
                                             })
                    <span class="help-inline alphabet">по-русски</span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox" style="text-align:justify;">
                        @Html.CheckBoxFor(x => x.AcceptTerms, new { @class = "checkbox mehrzeilig" })
                        <span class="errorAnotation">@Html.ValidationMessageFor(x => x.AcceptTerms)</span>
                        Hiermit bewerbe ich mich für das Auswahlverfahren der APOLLO e.V.
                        Ich versichere, dass ich alle Angaben wahrheitsgemäß gemacht habe.
                        <br>Я подаю заявление на участие в собеседовании программы APOLLO e.V. Я
                        подтверждаю что все данные заполненны мною честно и добросовестно.
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">

                    <label class="checkbox" style="text-align: justify;">
                        Die APOLLO e.V. erhebt personenbezogene Daten zum Zweck der Erfüllung ihrer satzungsgemäßen Aufgaben, der Mitgliederbetreuung sowie der Durchführung ihrer Programme. Sofern keine andere Einwilligung vorliegt, werden die Daten beim Austritt aus dem Verein, der Nichtteilnahme am Praktikantenprogramm oder nach dem Beenden der Teilnahme am Praktikantenprogramm gelöscht. Die angegebenen Notfallkontakte werden zum Ende eines jeden Programms gelöscht.
                        Es besteht ein Auskunftsrecht im Rahmen der Regelungen der Datenschutz-Grundverordnung. Die Datenschutzerklärung der APOLLO e.V. kann <a href="http://www.apollo-online.de/index.php?s=impressum">hier</a> nachgelesen werden.<br />
                        Ассоциация АПОЛЛО производит сбор персональных данных с целью выполнения предписанных уставом обязательств, а также реализации программы и оказания поддержки ее участников. При условии отстутствия какого-либо другого согласия, представленные данные будут удалены в случаях выхода из состава Ассоциации, непрохождения этапов отбора, а также завершения программы практики. Контакты для связи в экстренных случаях будут удалены по завершение программы.
                        Право на получение персональных данных установлено Общим регламентом о защите персональных данных. С политикой конфиденциальности АПОЛЛО Вы можете ознакомиться <a href="http://www.apollo-online.de/index.php?s=impressum">здесь</a>.<br /><br />
                        @Html.CheckBoxFor(x => x.KenntnisnahmeDatenschutz, new { @class = "checkbox mehrzeilig" })
                        <span class="errorAnotation">@Html.ValidationMessageFor(x => x.KenntnisnahmeDatenschutz)</span>
                        Hiermit willige ich ein, dass meine personenbezogene Daten von der APOLLO e.V. gespeichert und zur persönlichen Kontaktaufnahme sowie zur Vorbereitung auf die Auswahlgespräche verarbeitet werden dürfen.
                        Im Falle einer Zusage zu einem Praktikumsplatzes willige ich ein, dass meine Daten zur Kontaktaufnahme, Beantragung eines Visums, Beantragung einer Arbeitserlaubnis sowie zur Zuteilung zu einem Praktikumsbetrieb verarbeitet und im Rahmen des Programms weitergegeben werden dürfen.<br />
                        Я согласен на сбор и хранение АПОЛЛО персональных данных, а также на их использование для установления личного контакта, как то для подготовки к собеседованию.
                        В случае прохождения отбора на участие в программе практики я согласен на использование персональных данных для установления личного контакта, подачи документов на получение визы, подачи документов на получение разрешения на работу, равно как и для распределения на предприятие, а также на дальнейшую передачу данных в рамках программы практики.
                    </label>
                </div>
            </div>
        </div>
    </table>
    <table class="textlinksrechts">
        <div class="form-horizontal">
            <div class="control-group">
                <div class="form-actions">
                    <button type="submit" class="btn btn-block btn-apollogruen" style="margin-bottom:0px;">Eingaben absenden | Отправить</button>
                    <a class="btn btn-block" href='@Url.Action("Dashboard", "Account")'>abbrechen (ohne speichern) | сбросить (без сохранения)</a>
                </div>
            </div>
        </div>
    </table>
}