@using ApolloDb
@model RegistrierungModel
@{
    ViewBag.Title = "Registrierung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    
    $(function () {
        $("#form").submit(function () {

            if (!$(this).valid()) {
                $("#invalidInputMsg").show(400);
            }
            else {
                $("#invalidInputMsg").hide(300);
            }
        });
    });
    
    jQuery.validator.addMethod("checkrequired", function (value, element, param) {
        return element.checked;
    });
    jQuery.validator.unobtrusive.adapters.addBool("checkrequired");

</script>

<table class="textlinksrechts"> 
    <tr class="erstezeile alleinestehend">
        <td class="links"><h2>Registrierung</h2></td>
        <td class="rechts"><h2>Регистрация</h2></td>
    </tr>
</table>

<table class="textlinksrechts"> 
	<tr>
	    <td class="links">
	        <p>Um sich für das Auswahlverfahren anzumelden, registrieren Sie sich bitte zunächst:</p>
	    </td>
	    <td class="rechts">
	        <p>
		        Для того что бы заполнить заявление на участие, зарегистрируйтесь:
	        </p>
	    </td>
	</tr>
</table>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" })) 
{				
    <div class="form-horizontal">
       
        <div class="alert alert-error fade in hide" id="invalidInputMsg">
            <a class="close" data-dismiss="alert" href="#">×</a>
            Bitte die Eingaben vervollständigen/korrigieren. | Пожалуйста дополните/измените данные.
        </div>
        
        @Html.Message(Model.Message)
        
        <div class="control-group">
			<div class="controls">
                <label class="checkbox mehrzeilig" style="text-align:justify;">
                @Html.CheckBoxFor(x => x.ReadInformation, new {@class = "checkbox mehrzeilig"})
                <span class="errorAnotation">@Html.ValidationMessageFor(x => x.ReadInformation)</span>

                    Hiermit bestätige ich, die <a href="@Url.Action("Information/vonRegistrierung", "Home")">Informationen zum Auswahlverfahren</a> gelesen und zur Kenntnis genommen zu haben.
                    <br>
                        Я подтверждаю, что прочел/ла и ознакомился/лась с <a href="@Url.Action("Information/vonRegistrierung", "Home")">информацией о процессе отбора</a>.
                </label>
			</div>
		</div>
        						
        <div class="control-group">
			<label class="control-label">Anrede | Обращение:</label>
			<div class="controls">
                @Html.DropDownListFor(m => Model.AnredeVal, Model.AnredeOpts, new { @style = "width: 224px" })
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Familienname | Фамилия:</label>
            <div class="controls">
                @Html.TextBoxFor(x => x.FamiliennameKY, new { @placeholder = "по-русски"})
                <span class="help-inline alphabet">Напр. «Иванов»</span>
            </div>
		</div>
		<div class="control-group">
			<label class="control-label">Vorname | Имя:</label>
            <div class="controls">
                @Html.TextBoxFor(x => x.VornameKY, new { @placeholder = "по-русски"})
                <span class="errorAnotation">@Html.ValidationMessageFor(x => x.VornameKY)</span>
                <span class="help-inline alphabet">Напр. «Иван»</span>
            </div>
		</div>
		<div class="control-group">
			<label class="control-label">Vatersname | Отчество:</label>
            <div class="controls">
                @Html.TextBoxFor(x => x.VatersnameKY, new { @placeholder = "по-русски"})
                <span class="errorAnotation">@Html.ValidationMessageFor(x => x.VatersnameKY)</span>
                <span class="help-inline alphabet">Напр. «Иванович»</span>
            </div>
		</div>
		<div class="control-group">
			<label class="control-label">Email-Adresse | Емайл адрес:</label>
			<div class="controls">
                @Html.TextBoxFor(x => x.Emailadresse, new { @placeholder = "латинскими буквами" })
                <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Emailadresse)</span>
                <span class="help-inline alphabet">латинскими буквами</span>
            </div>
		</div>
		<div class="control-group">
			<label class="control-label">Passwort | Пароль:</label>
            <div class="controls">
                @Html.PasswordFor(x => x.Passwort, new { @placeholder = ""})
                <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Passwort)</span>
            </div>
		</div>
		<div class="control-group" style="margin-bottom: 0px;">
			<div class="controls">
                <label class="checkbox" style="text-align:justify;">
                    @Html.CheckBoxFor(x => x.AcceptTerms, new {@class = "checkbox mehrzeilig"})
                    <span class="errorAnotation">@Html.ValidationMessageFor(x => x.AcceptTerms)</span>

                    Hiermit nehme ich zur Kenntnis, dass alle relevanten Informationen 
                    zum Anmeldeverfahren an die von mir angegebene Email-Adresse versendet werden.
                    <br>
                    Я ознакомлен/а, что вся необходимая информация по процессу отбора будет отправлена на мой емайл адрес.
                </label>
			</div>
		</div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-apollogruen" style="width: 280px;">Jetzt registrieren | Зарегистрироваться</button>
            <a class="btn" href="#" onclick="history.go(-1);return false;" style="width: 258px;">Abbrechen | Сбросить</a>
            <p style="margin-top: 5px">Sie sind bereits registriert? Hier geht es zum <a href="@Url.Action("Login", "Account")">Login</a>.<br>
               Уже зарегистрированы? <a href="@Url.Action("Login", "Account")">Войти.</a></p>
        </div>
    </div>
}
