@using ApolloDb
@model RegistrierungModel
@{
    ViewBag.Title = "Registrierung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    
    $(function () {
        $("#form").submit(function () {

            if (!$(this).valid()) {
                $("#invalidInputMsg").show(400);
            }
            else {
                $("#invalidInputMsg").hide(300);
            }
        });
    });
    
    jQuery.validator.addMethod("checkrequired", function (value, element, param) {
        return element.checked;
    });
    jQuery.validator.unobtrusive.adapters.addBool("checkrequired");

</script>

 <table class="textlinksrechts"> 
            <tr>
                <td class="links"><p class="ueberschrift">Registrierung</p></td>
                <td class="rechts"><p class="ueberschrift"><i>Übersetzung</i></p></td>
            </tr>
 </table>

<table class="textlinksrechts"> 
	<tr>
	    <td class="links">
	        <p>Um sich für das Auswahlverfahren anzumelden, registrieren Sie sich bitte zunächst:</p>
	    </td>
	    <td class="rechts">
	        <p>
		        <i>Übersetzung</i>, продлить платформу об, улице сейчас действия уже ну:
	        </p>
	    </td>
	</tr>
</table>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" })) 
{				
    <div class="form-horizontal">
       
        
        <div class="alert alert-error fade in hide" id="invalidInputMsg">
              <a class="close" data-dismiss="alert" href="#">×</a>
                Bitte die Eingaben vervollständigen/korrigieren. | Übersetzung
        </div>
        
        <div class="control-group">
			<div class="controls">
                @Html.CheckBoxFor(x => x.AcceptTerms, new {@class = "checkbox mehrzeilig"})
                <span class="errorAnotation">@Html.ValidationMessageFor(x => x.AcceptTerms)</span>
                <label class="checkbox mehrzeilig">
                    Hiermit bestätige ich, die <a href="@Url.Action("Information", "Home")">Informationen zum Anmeldeverfahren</a> gelesen und zur Kenntnis genommen zu haben.
                    <br>
                        <i>Übersetzung<br><a href="@Url.Action("Information", "Home")">Übersetzung</a></i>
                </label>
			</div>
		</div>
        						
        <div class="control-group">
			<label class="control-label">Anrede/<i>Übersetzung</i>:</label>
			<div class="controls">
				<select>
					<option>Frau | Übersetzung</option>
					<option>Herr | Übersetzung</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Familienname/<i>Übersetzung</i>:</label>
            <div class="controls">
                @Html.TextBoxFor(x => x.FamiliennameKY, new { @placeholder = "KYRILLISCH [nur Übersetzung]"})
            </div>
		</div>
		<div class="control-group">
			<label class="control-label">Vorname/<i>Übersetzung</i>:</label>
            <div class="controls">
                @Html.TextBoxFor(x => x.VornameKY, new { @placeholder = "KYRILLISCH [nur Übersetzung]"})
                <span class="errorAnotation">@Html.ValidationMessageFor(x => x.VornameKY)</span>
            </div>
		</div>
		<div class="control-group">
			<label class="control-label">Vatersname/<i>Übersetzung</i>:</label>
            <div class="controls">
                @Html.TextBoxFor(x => x.VatersnameKY, new { @placeholder = "KYRILLISCH [nur Übersetzung]"})
                <span class="errorAnotation">@Html.ValidationMessageFor(x => x.VatersnameKY)</span>
            </div>
		</div>
		<div class="control-group">
			<label class="control-label">Email-Adresse/<i>Übersetzung</i>:</label>
			<div class="controls">
                @Html.TextBoxFor(x => x.Emailadresse, new { @placeholder = "LATEINISCH [nur Übersetzung]" })
                <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Emailadresse)</span>
            </div>
		</div>
		<div class="control-group">
			<label class="control-label">Passwort/<i>Übersetzung</i>:</label>
            <div class="controls">
                @Html.PasswordFor(x => x.Passwort, new { @placeholder = "KYRILLISCH [nur Übersetzung]"})
                <span class="errorAnotation">@Html.ValidationMessageFor(x => x.Passwort)</span>
            </div>
		</div>
		<div class="control-group" style="margin-bottom: 0px;">
			<div class="controls">
                @Html.CheckBoxFor(x => x.AcceptTerms, new {@class = "checkbox mehrzeilig"})
                <span class="errorAnotation">@Html.ValidationMessageFor(x => x.AcceptTerms)</span>
                <label class="checkbox mehrzeilig">
                    Hiermit nehme ich zur Kenntnis, dass alle relevanten Informationen 
                    zum Anmeldeverfahren an die von mir angegebene Email-Adresse versendet werden.
                    <br>
                        <i>Übersetzung<br>Übersetzung</i><!--temp Beginn-->
                    <span class="temp"><br>Mit dem Häkchen wird der Anmelde-Button freigegeben</span><!--temp Ende-->
                </label>
			</div>
		</div>
        <div class="form-actions" style="margin: 0px;">
            <button type="submit" class="btn btn-primary btn-apollogruen">Anmelden | <i>Übersetzung</i></button>
            <p style="margin-top: 5px">Sie sind bereits registriert? Hier geht es zum <a href="@Url.Action("Login", "Account")">Login</a>.<br>
                Übersetzung <a href="login.html">Übersetzung</a></p>
        </div>
    </div>
}
